/* style all html elements */

.quiz{
    border-color: black;
    width: 900px;
    height: 600px;
    align-content: center;
    text-align: center;
    margin: 0 Auto;
    /* background-color: honeydew;; */
    /* rgb(156, 226, 226); */
    justify-items: center;
    padding: 10px 50px 50px 50px;
}
.css{
    border-color: black;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    margin: 0 Auto;
    background-color: honeydew;;
    /* rgb(156, 226, 226); */
    justify-items: center;
    padding: 10px 50px 50px 50px;
}
.start_quiz{
    border-color: black;
   align-items: center;
   justify-items: center;
   display: block;
   margin: 0 Auto;
   background-color: white;
   font-size: 18px;
}
.submit{
    border-color: black;
   align-items: center;
   justify-items: center;
   display: block;
   margin: 0 Auto;
   background-color: rgb(250, 9, 9) ;
   box-sizing: border-box;
   width: 100px;
   height: 30px;
   font-size: 14px;
}
.html_quiz{
   float: left;
   background-color: white;
   font-size: 16px;
}
.css_quiz{
   float: left;
   background-color: white;
   font-size: 16px;
}
.javascript_quiz{
    float: left;
    background-color: white;
    font-size: 16px;
}
h1{
    color: rgb(49, 54, 42);
}
