* {
	box-sizing: border-box;
}

body {
	display: grid;
	margin: 0;
	padding: 1rem;
	min-height: 100vh;
	font-family: sans-serif;
}
main {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	height: 60vh;
	align-items: center;
	text-align: center;
}

header {
	background-color: lightgrey;
	margin: -1rem -1rem 1rem;
	display: grid;
	align-items: center;
	text-align: center;
	padding: 1rem;
}

button {
	padding: 0.75rem 1rem;
	font-size: 100%;
	border: 0;
	border-radius: 0.25rem;
	background-color: lightseagreen;
	color: white;
	justify-self: center;
}

#time {
	color: lightseagreen;
	font-size: 2rem;
	font-weight: bold;
}

label:hover {
	color: lightseagreen;
	cursor: pointer;
	padding: 1rem 0;
}
